<meta charset="utf-8">
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="author" content="Andris Jansons">
<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
