{{{{raw}}}}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each items as |item|}}
            <tr>
                <td>{{item.name}}</td>
                <td>£{{asPounds item.retail_price}}</td>
            </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <th>Total: </th> 
            <td>£{{asPounds totalPrice}}</td>
        </tr>
    </tfoot>
</table>
{{{{/raw}}}}