
<!doctype html>

<html lang="en">
	<head>
		{{> head
			title="Error"
			description="An error has occurred"}}
	</head>
	<body>
		{{> header title="An error has occurred"}}
		<main>
			<h2>{{error}}</h2>
		</main>
		{{> footer}}
	</body>
</html>
