<!doctype html>

<html lang="en">

<head>
	{{> head
		title="Home"
		description="Home of the Stock Control and Management system"}}
	<script type="module" src="{{host}}/js/main.js"></script>
</head>

<body>
	{{> header title="Home"}}
	{{> message}}
	<main>
		<p>This is the home page. Users can see it without logging in.</p>
		{{#if authorised}}
		<p><a href="/inventory">inventory page</a></p>
		{{/if}}
	</main>
	{{> footer}}
</body>

</html>