<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<meta name="description" content="form to add new books">
	<meta name="author" content="Mark Tyers">
	<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	<script type="module" src="{{host}}/js/item.js"></script>
</head>

<body>
	{{> header title="Home"}}
	{{> message}}
	<main>
		<p>This is the home page. Users can see it without logging in.</p>
		{{#if authorised}}
		<p><a href="/inventory">inventory page</a></p>
		{{/if}}
	</main>
</body>

</html>