<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<meta name="description" content="form to add new books">
	<meta name="author" content="Mark Tyers">
	<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	<script src="{{host}}/main.js"></script>
</head>

<body>
	<header>
		<h1>Inventory Page</h1>
		<a href="/logout">Log out</a>
	</header>
	{{> message}}
	<main>
		<section>
			<input type="text" placeholder="Barcode" id="barcode-scanner" autofocus>
		</section>
		<section id="item">
			<img src="" alt="">
			<h2 id="item-name"></h2>
		</section>
	</main>
</body>

</html>