<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<meta name="description" content="form to add new books">
	<meta name="author" content="Mark Tyers">
	<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
	<script type="module" src="{{host}}/js/inventory.js"></script>
</head>

<body>
	<header>
		<h1>Inventory Page</h1>
		<a href="/logout">Log out</a>
	</header>
	{{> message}}
	<main>
		<section>
			<input type="text" placeholder="Barcode" id="barcode-scanner" autofocus>
			<form action="/inventory/order-summary" method="POST">
				<input type="hidden" name="items">
				<input type="hidden" name="totalPrice">
				<a href="/inventory">Clear</a>
				<input type="submit" value="Done" disabled>
			</form>
		</section>
		<section id="item-list"></section>
		<section id="item"></section>
	</main>
	<script type="x-template" id="item-list-template">
		{{> item-list}}
	</script>
	<script type="x-template" id="scanned-item-template">
		{{> scanned-item}}
	</script>
</body>

</html>