<!doctype html>

<html lang="en">

<head>
	{{> head
		title="Scan items"
		description="Scan items for an order"}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
	<script type="module" src="{{host}}/js/inventory.js"></script>
</head>

<body>
	{{> header title="Scan items"}}
	{{> message}}
	<main>
		<section>
			<input type="text" placeholder="Barcode" id="barcode-scanner" autofocus>
			<form action="/inventory/order-summary" method="POST">
				<input type="hidden" name="items">
				<input type="hidden" name="totalPrice">
				<a href="/inventory">Clear</a>
				<input type="submit" value="Done" disabled>
			</form>
		</section>
		<section id="item-list"></section>
		<section id="item"></section>
	</main>
	{{> footer}}
	<script type="x-template" id="item-list-template">
		{{> item-list}}
	</script>
	<script type="x-template" id="scanned-item-template">
		{{> scanned-item}}
	</script>
</body>

</html>