
<!doctype html>

<html lang="en">
	<head>
		{{> head
			title="Log in"
			description="Log in to the Stock Control and Management system"}}
		<script type="module" src="{{host}}/js/main.js"></script>
	</head>
	<body>
		{{> header title="Log in"}}
		{{> message}}
		<main>
		<form action="/login" method="post">
			<p>
				<label for="user">Username</label><br />
				<input type="text" name="user" placeholder="your username" value="{{body.user}}" autofocus>
			</p>
			<p>
				<label for="pass">Password</label><br />
				<input type="password" name="pass" placeholder="your password" value="{{body.pass}}">
			</p>
			<input type="hidden" name="referrer" value="{{referrer}}">
			<p><input type="submit" value="Log in"></p>
		</form>
		<p><a href="/">Home page</a></p>
		</main>
	</body>
</html>
