
<!doctype html>

<html lang="en">
	<head>
		{{> head
			title="Log in"
			description="Log in to the Stock Control and Management system"}}
		<script type="module" src="{{host}}/js/main.js"></script>
	</head>
	<body>
		{{> header title="Log in"}}
		{{> message}}
		<main>
			<section>
				<h3>Log in</h3>
				<form action="/login" method="post">
					<label>Username
						<input type="text" name="user" placeholder="your username" value="{{body.user}}" autofocus>
					</label>
					<label>Password
						<input type="password" name="pass" placeholder="your password" value="{{body.pass}}">
					</label>
					<input type="hidden" name="referrer" value="{{referrer}}">
					<input type="submit" value="Log in">
				</form>
				<p class="text-center">New here? <a href="/register">Create an account</a></p>
			</section>
		</main>
		{{> footer}}
	</body>
</html>
