<!doctype html>

<html lang="en">

<head>
	{{> head
		title="New item"
		description="Add a new item to the inventory"}}
	<script type="module" src="{{host}}/js/new-item.js"></script>
</head>

<body>
	{{> header title="New item"}}
	{{> message}}
	<main>
		<section>
			<p>Fill out the form below to add a new item to the inventory.</p>
		</section>
		<section>
			<form action="/api/inventory/items" method="POST">
				<label>Photo
					<input type="file" name="photo" />
				</label>
				<label>Name
					<input type="text" name="name" autofocus />
				</label>
				<label>Description
					<input type="text" name="description" />
				</label>
				<label>Barcode
					<input type="text" name="barcode" required />
				</label>
				<label>Wholesale price (£)
					<input type="number" name="wholesale_price" min="0.00" step="0.01" />
				</label>
				<label>Retail price (£)
					<input type="number" name="retail_price" min="0.00" step="0.01" />
				</label>
				<label>Minimum stock level
					<input type="number" name="min_stock" min="0" />
				</label>
				<label>Maximum stock level
					<input type="number" name="max_stock" min="0" />
				</label>
				<label>Count (current stock)
					<input type="number" name="stock" min="0" />
				</label>
				<input type="submit" value="Add item" />
			</form>
		</section>
	</main>
	{{> footer}}
</body>

</html>