<!doctype html>

<html lang="en">

<head>
	{{> head
		title="Restock"
		description="Restock items in the inventory"}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
	<script type="module" src="{{host}}/js/restock.js"></script>
</head>

<body>
	{{> header title="Restock"}}
	{{> message}}
	<main>
		<section>
			<input type="text" placeholder="Barcode" id="barcode-scanner" autofocus>
		</section>
		<section id="item"></section>
	</main>
	<script type="x-template" id="new-item-restock-template">
		{{> new-item-restock}}
	</script>
	<script type="x-template" id="existing-item-restock-template">
		{{> existing-item-restock}}
	</script>
</body>

</html>