
<!doctype html>

<html lang="en">
	<head>
		{{> head
			title="Account created"
			description="You need to validate your account"}}
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		{{> header title="Account created"}}
		<main>
			<p>Your account has been successfully created and will need to be validated before use</p>
			<p>Please check the email you registered and click on the link it contains.</p>
		</main>
		{{> footer}}
	</body>
</html>
